<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>HtnCabinet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      htn-cabinet
    </header>
    <section id="main">
      <%= yield %>
    </section>
    <hooter>
      footer
    </hooter>
  </body>
</html>
